html body{
    background-color: rgb(144, 148, 151);
}

*{
  margin: 0px;
  padding: 0px;
}

  .backimage1{
    height: 100%;
    width: 100%;
 
    background-image: url(../image/backimg1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; 
    
   }
   .backimage2{
    height: 100%;
    width: 100%;
  
    background-image: url(../image/backimg1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; 
    
   }
   
    .backimage3{
      height: 100%;
      width: 100%;
      background-color:rgba(236, 240, 241,1.0);
    }


  

   .padding-0{
    padding-right:0;
    padding-left:0;
    padding-top: 0;
    padding-bottom: 0;
  }
 
   .leftside{
    position: absolute; 
 
  }
  .leftside li{
    list-style-type: none;
    padding :20px;
    transition: .6s;
   
  position: relative; 
  }
  .leftside li i{
     font-size:15px;

  }
  .leftside li:hover{
    padding :20px 40px;
  }
  .module-1 {

    width: 100%;
    height: 350px;
   background-position: center;
   
   position: absolute;
  }
  .blue-1 {
    background-image: 
      linear-gradient(
        rgba(43, 57, 245, 0.7),
        rgba(50, 63, 248, 0.7)
      ),
      url("https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg") ;
    
      position: relative;
    text-align: center ;
  }
  
 
  .module {
  /*  margin: 10px; */
    width: 100%;
    height: 640px;
    float: left;
    background-size: cover;
  }
  .blue {
    background-image: 
      linear-gradient(
        rgba(43, 57, 245, 0.7),
        rgba(50, 63, 248, 0.7)
      ),
      url(../image/img2.jpg) ;
    
  }
 
 .parent{
   position: relative;
 }


  /* Place text in the middle of the image */

.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;

}
.over-img{
  position: absolute;
  height: 45%;
  width: 100%;
  top: 30%;
  left: -30%;
  
}

.vertical{
  color: black;
   font-weight: bold;
   font-size: 12px;
   font-family:Georgia;
   writing-mode: vertical-rl; 
   transform: rotate(180deg);
   margin-top: 400px;
   margin-left: 10%;
 
   }


.sd{
  height: 100%;
  
}

.pd{
  height: 640px;
  position: relative;
}
.back{
  height: 640px;
  width: 100%;
  background-color:#0b1e31;

position: relative;
}

.writing{
text-align: left;

color: #fff;

}


.module-s5 {
  height: 336px;

  background-size: cover;
  position: relative;
}
.blue-s5 {
  background-image: 
    linear-gradient(
      rgba(43, 57, 245, 0.7),
      rgba(50, 63, 248, 0.7)
    ),
    url(../image/p2.jpg);
  
}

.circle{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
/*
 border-style: solid;
 border-color: white;
 border-width: thin;
 height: 300px;
 width: 300px; ;
border-radius: 150px;
 */
}




.bg-overlay {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../image/section6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 640px;
  padding-top: 50px;
 
}
.circular--square {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}


.square1{
  height: 160px;
  width: 150px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7));
  position: absolute;
  top: 25%;
right: 0;
}
.square2{
  height: 160px;
  width: 150px;
  border-style: solid ;
  border-width: 1px;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7));
  position: absolute;
  top: 50%;
 right: 0;
}

.square3{
  height: 160px;
  width: 150px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  background:   linear-gradient(
    rgba(23, 39, 255, 0.7),
    rgba(48, 62, 253, 0.7)
  );
 position: absolute;
  top: 25%;
left: 0;
}
.square4{
  height: 160px;
  width: 150px;
  border-style: solid ;
  border-width: 1px;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7));
position: absolute;
  top: 50%;
  left: 0;
}